body {
    background-color: #ebf3ff; /* #f6f6f6   #e8e8e8*/
}
.content {
    width: 300px;
    height: 550px;
}
textarea {
    overflow: hidden;
    display: none;
    width: 16em;
    height: 2em;
}

#previewDiv {
    background-color: #83b0ec; /* #83b0ec darkgrey */
    position: absolute;
    left: 0px;
    top: 0px;
    visibility: collapse;
    width: 100%;
    height: 100%;
}
#previewHead {
    margin: 10px;
}
#previewRestore {
    float: right;
}
#previewBody {
    margin: 10px;
    background-color: white;
    overflow: scroll;
    max-height: 470px;
    min-height: 470px;
}

button, select {
    border: 1px solid #d0d0d0;
    background-color: #F0F0F0;
}
button {
    padding: 3px 11px;
}
button:hover, select:hover {
    background-color: #e0e0e0;
}
button:active, select:active {
    background-color: #d0d0d0;
}
span {
    font-size: 0.8em;
    font-style: italic;
}

body[theme=dark] {
    background-color: #42414D;
    color: #ffffff;
}

body[theme=dark] button, body[theme=dark] select {
    border: 1px solid #5B5B66;
    color: #ffffff;
    background-color: #42414D;
}
body[theme=dark] button:hover, body[theme=dark] select:hover  {
    background-color: #12525E;
}
body[theme=dark] button:active, body[theme=dark] select:active {
    background-color: #5B5B66;
}

body[theme=dark] #previewDiv {
    background-color: #42414D;
}
body[theme=dark] #previewBody {
    background-color: #2B2A33;
}
